.section--footer{
  &__list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
    li{
      a{
        display: block;
        color:$main-color;
      }
    }
  }
  &__map{
    border: 1px solid #FFFFFF;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    @include mq($from:0,$until:tablet) {
      border:0;
    }
  }
  &__hours{
    color:$primary-color
  }
  .footer__copyright__text{
     padding:1rem 3rem 0;
    color:#909090;
    font-size: .8rem;
    text-align: center;
    border-top:1px solid #353535;
    margin:2rem auto ;
  }
}
