body,
html {
  font-family: $Catamaran-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body {
  color:$main-color;
  background: #000;
}
.main {
  background-color: #000;
}
.d-none{
  display: none;
}
.upper-case{
  text-transform: uppercase;
}
.hide--tablet{
  @include mq(tablet) {
    display: none
  }
}

